# Primeiros Exemplos

In [2]:
print('Primeiro Programa')

help(print)

1+2+3

Primeiro Programa
Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

6

In [1]:
for n in range (5):
    print (n)

0
1
2
3
4

# Tipos Básicos

In [3]:
print(True)
print(False)
print(1.2+1)
print('Aqui eu falo na minha lingua!')
print("Também funciona")
print('Você é '+3 * 'muito ' + 'legal!')#concatenar
#print (3+'3') ambiguidade int e str
print ([1, 2, 3]) #lista 
print ({'nome': 'Pedro', 'Idade':22}) #dicionário
print (None)

True
False
2.2
Aqui eu falo na minha lingua!
Também funciona
Você é muito muito muito legal!
[1, 2, 3]
{'nome': 'Pedro', 'Idade': 22}
None

# Variáveis

In [20]:
a = 10
b = 5.2
print (a + b)

15.2

# Comentários

In [22]:
# Minhas variáveis
salario = 3450.45
despesas = 2456.2
"""
A ideia é calcular quanto
vai sobrar no fim do mês.
"""
print(salario - despesas)
print ('Fim')

994.25
Fim

# Operadores Relacionais

In [30]:
print (3 > 4)
print (4 <= 3)
print (1 < 2)
print (3 <= 1)
print (3 != 2)
print (3 == 3)
print (2 == '2')

False
False
True
False
True
True
False

# Operadores Aritméticos

In [11]:
print (2+3)
print (4-7)
print (2* 5.3)
print (9.4 / 3)
print (9.4 //3)
print (2**8)
print (10 % 3)

5
-3
10.6
3.1333333333333333
3.0
256
1

# Operadores de Atribuição

In [21]:
a = 3
a = a + 7
print(a)

a += 5
print (a)

a-= 3
print (a)

a*=2
print (a)

a/=4
print (a)

a%=4
print (a)

a**=8
print (a)

a //= 256
print (a)

10
15
12
24
6.0
2.0
256.0
1.0

# Operadores Lógicos

In [51]:
True or False
7 != 3 and 2 > 3
 #tabela verdade And
True and True
True and False
False and True
False and False

#tabela verdade or (um ou outro)
True or True
True or False
False or True
False or False

#tabela verdade xor (ou um ou outro)
True != True
True != False
False != True
False != False

#operações de negação (unário)
not True 
not False
not 0
not 1

False

In [3]:
saldo = 1000
salario = 4000
despesas = 2967
 
meta = saldo >0 and salario - despesas >= 0.2* salario
print (meta)

True

In [6]:
#Desafio Operadores Lógicos
#Os Trabalhos
trabalho_terca = False
trabalho_quinta = False

"""
- Confirmado os 2: TV 50' + Sorvete
- Confirmado apenas 1: TV 32' + Sorvete
- Nenhum confirmado: Fica em casa
"""
tv_50 = trabalho_terca and trabalho_quinta
sorvete = trabalho_terca or trabalho_quinta
tv_32 = trabalho_terca != trabalho_quinta #xor
mais_saudavel = not sorvete

print("Tv50={} Tv32={} Sorvete={} Saudável={}"
     .format (tv_50, tv_32, sorvete, mais_saudavel))

Tv50=False Tv32=False Sorvete=False Saudável=True

# Operadores Unários

In [11]:
a = 3
# a++
#a += 1
++a
not 0
not 1
not False
not not True

True

# Operadores Ternários

In [17]:
esta_chuvendo = False
print ('Hoje estou com as roupas ' + ('secas.', 'molhadas.')[ esta_chuvendo])
print ('Hoje estou com as roupas ' + ('molhadas.' if esta_chuvendo else 'secas.'))

Hoje estou com as roupas secas.
Hoje estou com as roupas secas.

# Mais Operadores (membro/Identidade)

In [17]:
#operador de Membro
lista = [1, 2, 3, 'Ana', 'Carla']
2 in lista
'Ana' not in lista


#operador de Identidade
x = 3
y = x
z = 3
x is y
y is z
x is not z 

lista_a = [1, 2, 3]
lista_b = lista_a
lista_c = [1, 2, 3]
print (lista_a)

lista_a is lista_b 
lista_b is lista_c 
lista_a is not lista_c

[1, 2, 3, 'Ana', 'Carla']
[1, 2, 3]

True

# Builtins

# Conversão de tipos

In [7]:
2 + 3
'2' + '3'
#print (2 + '3')
a = 2
b = '3'

print (type (a))
print (type (b)) 

print (a + int(b)) #converteu b str para inteiro (soma)
print (str (a) + b) #conveteu a inteiro para str (concatenação)

type (str (a))
print ( 2 + float ('3.4'))

<class 'int'>
<class 'str'>
5
23
5.4

# Coerção automática

In [19]:
10 / 2
type ( 10 / 2) 
10 / 3 
10 // 3 
type (10 // 3) 
10 // 3.3 
type (10 // 3.3) 
10 / 2.5 
2 + True 
2 + False 
type (1 + 2) 
type (1 + 2.5)

float

# Tipos númericos

In [11]:
dir(int)
dir(float)

a = 5
b = 2.5
a / b
a + b
a * b

type (a)
type (b)
type (a-b)

b.is_integer ()
5.0.is_integer ()

True

In [15]:
from decimal import Decimal, getcontext 
Decimal(1) / Decimal (7)

getcontext ().prec = 4
Decimal(1) / Decimal (7)
Decimal.max(Decimal(1), Decimal(7))

Decimal('7')

# Tipo String

In [30]:
dir(str)
nome= 'Saulo Pedro'
nome
nome[0]

"Dias D'Avila" == 'Dias D\'Avila'
"Teste \" Funciona!"
texto = 'Texto entre apostrofe pode ter "aspas"'
texto

doc = """ Texto com múltiplas
...linhas"""
doc
print ('Texto com múltiplas\n\t...linhas')
print (doc)

doc2 = '''Também é possível 
... com 3 aspas simples'''
doc2

Texto com múltiplas
	...linhas
 Texto com múltiplas
...linhas

'Também é possível \n... com 3 aspas simples'

In [13]:
nome = 'Ana Paula'
nome [0]
nome [-3]
nome [4:]
nome [-5:]
nome [:3]
nome [2:5]

numeros = '1234567890'
numeros [::]
numeros [::2]
numeros [1::2]
numeros [::-1]

'0987654321'

In [24]:
frase = 'Python é uma linguagem excelente'
'py' not in frase
'ing' in frase
len(frase)
frase.lower ()
frase.upper ()
frase = frase.upper()
frase
frase.split()
frase.split( 'E')

['PYTHON É UMA LINGUAG', 'M ', 'XC', 'L', 'NT', '']

# Lista

In [10]:
lista = []
type(lista)
len(lista)
lista.append (1)
lista.append (5)
lista

nova_lista =[1, 5, 'Ana', 'Bia']
nova_lista
nova_lista.remove(1)
nova_lista
nova_lista.reverse ()
nova_lista

['Bia', 'Ana', 5]

In [9]:
lista = [1, 5, 'Rebeca', 'Guilherme', 3.1415]
lista
lista.index ('Guilherme')
lista[2]
1 in lista 
'Rebeca' in lista
'Pedro' not in lista
lista[0]
lista [-5]

1

# Tupla

In [26]:
tupla = tuple ()
tupla = ()
type(tupla)
tupla = ('um')
type (tupla)
tupla = ('uma',)
type (tupla)
tupla [0]
#tupla[0] = 'novo'
cores = ('verde', 'amarelo', 'azul','branco')
cores[0]
cores [-1]
cores [1:]
cores.index('amarelo')
cores.count('azul')
len(cores)

4

# Dicionário

In [42]:
pessoa = {'nome': 'Prof(a).Ana', 'idade': 38, 'curso': ['Ingles', 'Português']}
type(pessoa)
dir(dict)
len(pessoa)

pessoa
pessoa ['nome']
pessoa ['idade']
pessoa ['curso']
pessoa ['curso'][1]
pessoa.keys()
pessoa.values()
pessoa.items()
pessoa.get ('idade')
pessoa.get ('tags')
pessoa.get ('tags', [])

[]

In [53]:
pessoa = {'nome': 'Prof.Alberto', 'idade': 43, 'curso': ['React', 'Python']}
pessoa['idade']= 44
pessoa['curso'].append('Angular')
pessoa
pessoa.pop('idade')
pessoa
pessoa.update({'idade': 40, 'sexo': 'M'})
pessoa
del pessoa['curso']
pessoa
pessoa.clear()
pessoa

{}

# Conjunto (Set)

In [67]:
a = {1, 2, 3}
type (a)
a = set ('cod3r')
print (a)
print('3'in a, 4 not in a)
{1,2,3} == {3,2,1,3}

#operadores
c1 = {1, 2}
c2 = {2, 3}
c1.union(c2)
c1.intersection(c2)
c1.update(c2)
c1
c2 <=c1 #subconjunto
c1 >= c2 
{1, 2, 3} - {2}
c1 - c2

{'d', 'c', 'o', '3', 'r'}
True True

{1}

# Interpolação

In [73]:
from string import Template
nome, idade = 'Ana', 30

print('Nome:%s Idade:%d' % (nome, idade))
print('Nome:{0} Idade:{1}'.format(nome, idade))
print(f'Nome: {nome} Idade: {idade}')

s=Template( 'Nome: $nome Idade: $idade')
print(s.substitute(nome=nome,idade=idade))

Nome:Ana Idade:30
Nome:Ana Idade:30
Nome: Ana Idade: 30
Nome: Ana Idade: 30